
.container.places h1{
    text-align: left;
    font-size: 30px;
    background-color: black;
}
.places article h2{
    text-align: center;
    font-size: 30px;
    line-height: 0px;
}
.places article{
    width: 390px;
    height: 60px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: inline-block;
}